html {
  overflow: hidden;
}

.main-view {
  position: absolute;
  left: 0;
  top: 0;
}

.board-view {
  position: absolute;
}

.bubble-view {
  position: absolute;
  border-radius: 50%;
}

.bubble-type-1 {
  background: #ff0000;
}

.bubble-type-2 {
  background: #00ff00;
}

.bubble-type-3 {
  background: #0000ff;
}

.bubble-type-4 {
  background: #ff00ff;
}

.bubble-type-5 {
  background: #ffff00;
}

.flying-bubble-view {
  z-index: 1;
}

.game-loop-view {
  position: absolute;
  bottom: 0;
}

.cannon-view:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* temporarily lock cannon */
  pointer-events: none;
}

.board-view .bubble-view:after {
    content: attr(data-id);
    text-align: center;
    width: 100%;
    display: block;
    line-height: 38px;
}

.arrow-view {
  position: absolute;
  width: 2px;
  height: 120px;
  background: green;
  transform-origin: 50% 100%;
  bottom: 20px;
  left: calc(50% - 1px);
}
